services:
  api:
    build: .
    container_name: client
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: clients_db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
